name: CI Build

on:
  workflow_dispatch:
    inputs:
      ref:
        description: "The branch, tag or SHA to checkout, e.g. refs/branches/main or refs/tags/vx.y.z"
        required: false
        type: string
  push:
    # Build snapshot:
    branches: ["main"]
    paths-ignore: ["**/*.md"]
    # Build release:
    tags:
      - "v*.*"
      - "v*.*.*"
  # Dry run for PRs:
  pull_request:
    branches: ["main"]
    paths-ignore: ["**/*.md"]

env:
  JAVA_DISTRIBUTION: "temurin"
  JAVA_VERSION: 17
  REF: ${{ inputs.ref || github.ref }}

jobs:
  build:
    name: Maven Build
    runs-on: "ubuntu-24.04"
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          ref: ${{ env.REF }}

      - name: Set up Cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          distribution: ${{ env.JAVA_DISTRIBUTION }}
          java-version: ${{ env.JAVA_VERSION }}

      - name: Maven Build
        shell: bash
        run: "./mvnw -B --show-version --file pom.xml package"

      - name: Verify Changed Files
        if: ${{ inputs.skip_changed_files != 'true' }}
        id: verify-changed-files
        shell: bash
        run: |
          set -o pipefail
          changed_files=$(echo -n "$(git diff --name-only HEAD && git ls-files --others --exclude-standard)"|tr '\n' ' ')
          echo "changed_files=$changed_files" >> $GITHUB_OUTPUT

      - name: Fail on Changed Files
        if: steps.verify-changed-files.outputs.changed_files != ''
        shell: bash
        env:
          CHANGED_FILES: ${{ steps.verify-changed-files.outputs.changed_files }}
        run: |
          echo "::error::Files have changed: $CHANGED_FILES"
          exit 1

      # Upload the full dependency graph to improve quality of Dependabot alerts on pushes to main
      - name: Update dependency graph
        if: github.event_name == 'push' && github.ref_name == 'main'
        uses: advanced-security/maven-dependency-submission-action@v5

  javadoc:
    name: Publish JavaDoc to GitHub Pages
    runs-on: "ubuntu-24.04"
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          ref: ${{ env.REF }}

      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          distribution: ${{ env.JAVA_DISTRIBUTION }}
          java-version: ${{ env.JAVA_VERSION }}

      - name: Build JavaDoc
        shell: bash
        run: "./mvnw -B --show-version --file pom.xml javadoc:aggregate"

      - name: Publish to GitHub Pages
        if: startsWith(env.REF, 'refs/tags/v')
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: target/reports/apidocs
          force_orphan: true
